services:
  kafka:
    image: confluentinc/cp-kafka:7.7.7
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      # Настраиваем два интерфейса:
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,OUTSIDE://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,OUTSIDE://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
      - "29092:29092"
    healthcheck:
      test: ["CMD", "kafka-topics", "--list", "--bootstrap-server", "localhost:9092"]
      interval: 30s

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s

  migrate:
    build:
      context: .
      dockerfile: cmd/migrate/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      POSTGRES_DSN: "postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable"

  ingestion:
    build:
      context: .
      dockerfile: cmd/ingestion/Dockerfile
    depends_on:
      kafka:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    environment:
      KAFKA_BROKERS: "kafka:9092"
      TOPIC: "github.events"

  processor:
    build:
      context: .
      dockerfile: cmd/processor/Dockerfile
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    environment:
      KAFKA_BROKERS: "kafka:9092"
      POSTGRES_DSN: "postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable"

  api:
    build:
      context: .
      dockerfile: cmd/api/Dockerfile
    ports:
      - "50051:50051"
      - "9090:9090"
    depends_on:
      - postgres
      - migrate
    environment:
      POSTGRES_DSN: "postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable"


  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "local"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:9092"

volumes:
  pgdata: