version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.7
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.7.7
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--list", "--bootstrap-server", "localhost:9092"]
      interval: 30s

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s

  ingestion:
    build:
      context: .
      dockerfile: cmd/ingestion/Dockerfile
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      KAFKA_BROKERS: "kafka:9092"
      TOPIC: "github.events"

  processor:
    build:
      context: .
      dockerfile: cmd/processor/Dockerfile
    depends_on:
      - kafka
      - postgres
    environment:
      KAFKA_BROKERS: "kafka:9092"
      POSTGRES_DSN: "postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable"

  api:
    build:
      context: .
      dockerfile: cmd/api/Dockerfile
    ports:
      - "8081:8081"
    depends_on:
      - postgres
    environment:
      POSTGRES_DSN: "postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "local"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:9092"

volumes:
  pgdata: